
.hero {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  /* This ensures it fills the screen height */
  height: 100vh;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}


.hero-content h1 {
  font-family: "Poppins", "Helvetica Neue", Arial, sans-serif;
  font-weight: 800;
  animation: slide-in-left 1.5s ease-in-out;
}

.hero-content p {
  font-family: "Inter", "Helvetica Neue", Arial, sans-serif;
  animation: fade-in 6s ease-in-out;
  padding-top: 30px;
}

@keyframes slide-in-left {
  from {
    transform: translateX(-50%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
